[Unit]
Description=MattyPI Network Status Lights
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python main.py
WorkingDirectory=/home/pi/up-or-not
User=pi
Group=pi
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
